

.buttons_career 
{
  margin-top: 1.5rem;
  font-family: var(--text-standard-family);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  width: 50%;
}
    
.button_career_container 
{
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}
  
@media (min-width: 600px) 
{
  .button_career_container 
  {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}
    
.btn-career-5 
{
    /* generic button */
    color: var(--text-standard-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    /* margin: 0 0 2em; */
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    /* btn 5 */
    border: 0px solid;
    box-shadow: inset 0 0 20px var(--button-shadow-color);
    outline: 1px solid;
    outline-color: var(--button-outline-color);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
  
.btn-career-5:hover 
{
  color: var(--text-selection-color);
  border: 0px solid;
  box-shadow: inset 0 0 20px var(--button-shadow-color), 0 0 20px var(--button-shadow-color); 
  outline-color: var(--button-outline-color);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px var(--text-shadow-color);
  text-decoration: none;
}

.btn-career-5-active 
{
  /* generic button */
  color: var(--text-active-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  /* margin: 0 0 2em; */
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  /* btn 5 */
  border: 0px solid;
  box-shadow: inset 0 0 20px var(--button-shadow-color);
  outline: 1px solid;
  outline-color: var(--button-outline-color);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-career-5-active:hover 
{
  border: 0px solid;
  box-shadow: inset 0 0 20px var(--button-shadow-color), 0 0 20px var(--button-shadow-color); 
  outline-color: var(--button-outline-color);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px var(--text-shadow-color);
  text-decoration: none;
}

.kd-career-button  {
	position: relative;
  display: inline-block;
  margin-left: 0.1rem;
  overflow: hidden;
  vertical-align: middle;
}

.hr-career {
  border-top: 2px solid var(--border-color); 
  margin-top: 1.5rem;
  margin-bottom: 1.5em;
  border-width: 2px;
  margin-left: -10%;
  margin-right: -10%;
}

/* Education */
.edu 
{
  color: var(--text-standard-color);
  display: block;
  text-align: center;
  font-family: var(--text-standard-family);
}

.edu-title
{
    color: var(--text-standard-color);
    font-family: var(--text-subtitle-family);
    font-size: 2.8rem; 
    letter-spacing: +0.7rem;
    text-align: center;
    padding-bottom: 25px;
} 

.edu-title-medium
{
    color: var(--text-standard-color);
    font-family: var(--text-standard-family);
    font-size: 2.2rem; 
    letter-spacing: +0.7rem;
    text-align: center;
    padding-bottom: 25px;
} 

.we-year
{
  font-family: var(--text-subtitle-family);
  font-size: 2.2rem; 
  padding-top: 10px;
  padding-bottom: 0px;
}