@font-face
{
    font-family: cascadia;
    src: url("fonts/cascadia.ttf");
}

body
{
    background-color: #17213a;
    background-image: repeating-radial-gradient(#17223a25, #355d9b25, #133532  125% );
    height: 200vh;
    display: block;
    font-size: 15pt;
    text-shadow: 0 0 3px;

    /* DEBUG VARIABLES */
    border: 0px solid rgb(255, 255, 0);
}

#title
{
    color: var(--text-title-color);
    font-family: var(--text-title-family); /* font family */
    font-size: 64pt; /* size of the font */
    margin: -30px auto; /* vertical margin from top, horizontal centering (using auto) */
    width: max-content; /* Takes up full width of screen */
}  

#sub-title
{
    color: var(--text-title-color);
    font-family: var(--text-standard-family); /* font family */
    font-size: 28pt; /* size of the font */
    margin: -15px auto; /* vertical margin from top, horizontal centering (using auto) */
    width: max-content; /* Takes up full width of screen */
}  

#title_description
{
    color: var(--text-standard-color);
    font-family: var(--text-standard-family);  /* font family */
    margin-top: 25px auto; /* vertical margin from top, horizontal centering (using auto) */
    
    font-size: 2.2rem; 
    line-height: 1.5;  
    letter-spacing: -.05rem;
    
    /* DEBUG VARIABLES */
    border: 0px solid rgb(149, 255, 0);
}  

#about_me
{
    color: var(--text-standard-color);
    font-family: var(--text-standard-family);
    font-size: 1.8rem; 
}

/* An image encapsulating the full width of a page */
.landing_logo
{
    border-radius: 45%;
    margin: 25px auto;
    height: 25vh;
    box-shadow: inset 0 0 20px var(--button-shadow-color);

    /* DEBUG VARIABLES */
    border: 0px solid rgb(255, 102, 0);
}
  
/* Shortcut links */
#quick_links 
{
    width: 100%;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 2px;
    color: var(--icon-color);
}

.quick-links-containter
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.quick-link
{
  color: var(--icon-color);
  font-size: 3.5rem; 
}

.quick-link:hover
{
  color: var(--icon-selection-color);
  font-size: 4rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.235rem;
  margin-right: -0.235rem;
}

.ref-link
{
  color: var(--icon-color);
  font-size: 2rem; 
}

.buttons {
    color: var(--text-standard-color);
    font-family: var(--text-button-family);

    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
            justify-content: center;
    text-align: center;
    width: 90%;
  }
  
  .button_container {
    align-self: center;
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    text-align: center;
    width: 75%;
  }

  @media (min-width: 600px) {
    .button_container {
      align-self: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      -webkit-box-pack: justify;
              justify-content: space-between;
    }
  }
  
  @media (min-width: 600px) {
    p {
      left: 50%;
      position: absolute;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      top: 90%;
    }
  }
  @media (max-height: 500px) {
    p {
      left: 0;
      position: relative;
      top: 0;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }

.btn {
    color: var(--text-standard-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    border: 0px solid;
    border-radius: 10%;
    box-shadow: inset 0 0 0px var(--button-shadow-color);
    outline: 1px solid;
    outline-color: var(--button-outline-color);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .btn:hover {
    border: 0px solid;
    box-shadow: inset 0 0 20px var(--button-selection-shadow-color), 0 0 20px var(--button-selection-shadow-color); 
    outline-color: var(--button-selection-outline-color);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px var(--text-shadow-color);

    color: var(--text-selection-color);
    text-decoration: none;
  }

.btn-active {
    color: var(--text-active-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    border: 0px solid;
    border-radius: 10%;

    box-shadow: inset 0 0 20px var(--button-active-shadow-color);
    outline: 1px solid;
    outline-color: var(--button-active-outline-color);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .btn-active:hover {
    border: 0px solid;
  box-shadow: inset 0 0 20px var(--button-active-shadow-color), 0 0 20px var(--button-active-shadow-color); 
  outline-color: var(--button-active-outline-color-50);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px var(--text-shadow-color);
  text-decoration: none;

    color: var(--text-active-color);
    text-decoration: none;
  }
  
.kd-button  {
	position: relative;
    display: inline-block;
    margin-left: 1rem;
	overflow: hidden;
	vertical-align: middle;
}

#pt
{
  color: var(--text-standard-color);
  font-family: var(--text-standard-family);
  font-size: 1.8rem; 
  letter-spacing: -.05rem;
  text-align: center;
}