#skill-chart-title
{
  color: var(--text-standard-color);
  text-align: center; 
  font-family: var(--text-subtitle-family);
  font-size: 3.5rem; 
  letter-spacing: -.05rem;
}

.chart .metric 
{
  background-color: var(--background-1-color);
  background: var(--slider-1-color);
  color: var(--slider-text-color);
  text-shadow: 1px 1px 1px var(--text-shadow-color);
  border-radius: 5px;
  border: 5px solid var(--slider-4-color);
  padding: 10px;
  text-align: left;
  font-family: var(--text-slider-family);
  position: relative;
}

.chart .metric .metric-value {
  font-weight: bold;
  color: var(--slider-2-color);
}

.chart-horizontal {
  width: 100%;
}
.chart-horizontal .metric {
  margin-bottom: 3px;
  min-width: 100px;
  padding: 6px 15px;
}
.chart-horizontal .metric .metric-value {
  float: right;
  font-weight: bold;
}

.progress-bar {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.progress-bar::before {
  display: block;
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  width: calc(var(--percent, 100) * 0.991%);
  background: repeating-linear-gradient(
    to right,
    var(--slider-3-color) 0,
    var(--slider-3-color) 20px,
    transparent 20px,
    transparent 25px
  );
}

.progress-bar:hover {
  background-color: var(--slider-4-selection-color);
}

.bar-label {
  position: absolute;
  color: var(--slider-text-color);
  font-family: var(--text-slider-family);
}