:root
{
  /* Background */
  --background-1-color: #53354a;
  --background-2-color: #16213e;
  --background-3-color: #0f3460;
  --background-4-color: #53354a;

  /* Icons */
  --icon-color: #febe7e;

  /* Buttons */
  --button-color: #febe7e;
  --button-outline-color: #febe7e;
  --button-outline-color-50: #febe7e50;
  --button-shadow-color: #c2c47825;

  --button-active-color: #a75265;
  --button-active-outline-color: #a75265;
  --button-active-shadow-color: #42738850;

  /* Sliders */
  --slider-1-color: #a75265;
  --slider-2-color: #febe7e;
  --slider-text-color: #ffffff;

  /* Text Colors */
  --text-standard-color: #ffffff;
  --text-active-color: #e0728a;
  --text-selection-color: #e0728a;

  --text-title-color: #febe7e;
  --text-shadow-color: #427388;

  /* Text Families */
  --text-standard-family: "Datatype", monospace;
  
  --text-title-family: 'Archivo Black', sans-serif;
  --text-subtitle-family: 'Major Mono Display', monospace;

  /* Others */
  --border-color: #febe7e;
}